.container{
    background-color: #d8f3dc;
    margin: 10px;
    text-align: center;

    padding-top: 5px;
    padding-bottom: 20px;
    border-radius: 10px;

    font-family:  'Arial'
}
.chargingForm{
    padding-left: 10px;
    text-align: left;
    font-size: 24px;

    input, button{
        font-size: 18px;
        padding: 10px;
        margin: 6px;
    }
    input{
        width: 50%;
        background-color: white;
    }
    button{
        width: 25%;
        background-color: #95d5b2;
        border-radius: 5px;
    }
    label{
        padding-left: 13%;
    }
    .box{
        padding-left: 12%;
    }
}

