.simpleLoader {
  font-family: Arial;
  color: grey;
  font-weight: 600;
  text-align: center;

  &::after {
    content: '';
    animation: dots 2s infinite steps(4);
    width: 1.5em;
    text-align: left;
  }
}
@keyframes dots {
  0%, 20% { content: ''; }
  40% { content: '.'; }
  60% { content: '..'; }
  80%, 100% { content: '...'; }
}