.container{
    background-color: #a4f1af;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;

    padding-top: 5px;
    padding-bottom: 20px;
    border-radius: 10px;

    width: 40%;
}
// .text{
//     // font-family:  'Arial';
// }