.singleChart {
    background-color: none;
    width: 80%;
    height: 80%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;


    display: flex;
    align-items: center;
    flex-direction: column;
}