.loadedchartContainer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.unloadedLayout {
    display: flex;
    justify-content: center;
}

.container{
    background-color: #d8f3dc;
    margin: 10px;
    padding-top: 5px;
    padding-bottom: 30px;
    border-radius: 10px;
    font-family:  'Arial'
}
// .chartContainer{
//     display: grid;
//     grid-template-columns: repeat(3, 1fr);
// }
.title{
    text-align: center;
}

@media (max-width: 850px) {
    .chartContainer{
        grid-template-columns: 1fr;
    }
}