.container{
    background-color: #d8f3dc;
    margin: 10px;
    padding-top: 5px;
    padding-bottom: 30px;
    border-radius: 10px;
    font-family:  'Arial'
}
.chartContainer{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
.title{
    text-align: center;
}